@media (max-width: 1024px) {
  .comparison-title {
    font-size: 1.9em;
  }

  .comparison-subtitle {
    font-size: 1.6em;
  }

  .chart-container {
    height: 130px;
  }
}

@media (max-width: 768px) {
  .comparison-section {
    margin-top: 15px;
  }

  .comparison-title {
    font-size: 1.7em;
  }

  .comparison-subtitle {
    font-size: 1.4em;
  }

  .chart-container {
    height: 110px;
    margin-bottom: $eight;
  }

  .chart-percentage {
    text-align: center;
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  .comparison-title {
    font-size: 1.5em;
  }

  .comparison-subtitle {
    font-size: 1.2em;
  }

  .chart-container {
    height: 90px;
  }

  .chart-percentage {
    font-size: 0.9em;
  }
}