.comparison-section {
    margin-top: $twenty-five;
}
        
.comparison-title {
    font-size: 2.1em;
    font-weight: 600;
    margin-bottom: $eight;
}
        
.comparison-subtitle {
    font-size: 1.85em;
    color: $dashboard-gray;
    margin-bottom: $twenty;
}
        
.chart-container {
    position: relative;
    height: 150px;
    margin-bottom: $ten;
}
        
.line-chart {
    width: 100%;
    height: 100%;
    color: $comparison-orange;
}
        
.chart-percentage {
    text-align: right;
    font-weight: 600;
    color: $comparison-orange;
}