.container {
    max-width: 1400px;
    margin: $zero auto;
    padding: $thirty $fourty;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $thirty;
    margin-top: $thirty;
}

.table-container {
    overflow-x: auto;
    font-size: 1.4em;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: $ten;
  box-sizing: border-box;
}

.profile-container {
    background: gray;
    padding: $thirty;
    border-radius: $twelve;
    box-shadow: $zero 2px $eight rgba(0, 0, 0, 0.08);
    max-width: 600px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.profile-image {
    height: 100px;
    width: 100px;
}

.profile-info {
    margin-top: $twenty;
    margin-left: $twenty;
}