.navbar {
  background: linear-gradient(135deg, $comparison-orange 0%, $comparison-orange 100%);
  padding: $twenty $fourty;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $zero 2px $ten rgba(0,0,0,0.1);
  flex-wrap: wrap;
  position: fixed;
  top: $zero;
  left: $zero;
  width: 100%;
  z-index: 1000;
  margin-bottom: 80px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: $thirty;
}

.navbar-title {
  color: $pretty-white;
  font-size: 1.3em;
  font-weight: $font-weight-five;
}

.navbar-right {
  display: flex;
  gap: $twenty;
  align-items: center;
}

.nav-badge {
  background: $pretty-white;
  color: $comparison-orange;
  padding: $eight 1.6rem;
  border-radius: $twenty;
  font-weight: $font-weight-six;
  font-size: 1.4em;
}

.logo {
  display: flex;
  align-items: center;
  gap: $ten;
  color: $pretty-white;
  font-size: $fifteen;
  font-weight: $font-weight-six;
}

.logo-icon {
  width: 3.2rem;
  height: 3.2rem;
  background: $pretty-white;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $twelve;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: $zero;
  top: 100%;
  background: $comparison-orange;
  box-shadow: $zero 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 1000;
  border-radius: 5px;

  button, a {
    padding: $ten $fifteen;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: $pretty-white;

    &:hover {
      background-color: $comparison-orange;
    }
  }
}

.dropdown-login {
  background-color: $comparison-orange;
  color: $pretty-white;
  padding: $twelve $twenty;
  border: none;
  border-radius: $eight;
  font-size: $fifteen;
  font-weight: $font-weight-six;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  text-align: left;

  &:hover {
    background-color: darken($comparison-orange, 10%);
  }
}

.logo-image {
  height: 50px;
  width: auto;
  border-radius: $ten;
}

.logo-text {
  font-size: 1.8em;
  font-weight: $font-weight-seven;
}

.link-title {
  color: $pretty-white;
  font-size: $fifteen;
  font-weight: $font-weight-six;
  text-decoration: none;

  &:hover {
    color: $comparison-orange
  }
}