// Colors
$background-blue: #1b5198ff;
$body-text-color: #1a1a1a;
$dashboard-gray: #666;
$comparison-orange: #b94310ff;

// Sizes (rem)
$eight: 0.8rem;
$ten: 1rem;
$twelve: 1.2rem;
$twenty: 2rem;
$twenty-five: 2.5rem;
$thirty: 3rem;
$fourty: 4rem;

// Numbers
$zero: 0;