// Colors
$background-blue: #1b5198ff;
$body-text-color: #1a1a1a;
$dashboard-gray: #666;
$comparison-orange: rgb(231, 82, 19);
$pretty-white: #f9f9f9;

// Sizes
// Veranderd van Rem naar Px voor consistentie op andere mensen hun browser instellingen
$eight: 8px;
$ten: 10px;
$twelve: 12px;
$fifteen: 15px;
$twenty: 20px;
$twenty-five: 25px;
$thirty: 30px;
$fourty: 40px;

// Numbers
$zero: 0;

// Font Weights
$font-weight-six: 600;
$font-weight-seven: 700;
$font-weight-five: 500;